.outer_container {
  z-index: 200;
  position: relative;

  grid-area: sidebar;
  width: 270px;
  height: 100vh;

  transition: transform 250ms ease;

  animation: appear 250ms ease;

  overflow: auto;
}

.container {
  background: linear-gradient(270deg, #edf1fb 0%, #edf1fb 50%, #ffffff 100%);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);

  width: 270px;
  /* min-height: 600px; */
  height: 100vh;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: auto;
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.hide {
  position: absolute;

  transform: translateX(-100%);
  animation: hide 250ms ease;
}
.hide .logo_container {
  opacity: 0;
}
.hide .container {
  box-shadow: none;
  animation: hide 250ms ease;
}

@keyframes hide {
  from {
    width: 270px;
  }
  to {
    width: 0px;
  }
}

.list {
  list-style: none;
  color: var(--primary-black);
  width: 100%;
  margin-bottom: 3em;
}

.list li {
  position: relative;
  overflow: hidden;
}

.list a span {
  color: inherit;
}

.list a {
  display: flex;
  align-items: center;
  gap: 0.7em;

  font-size: 1em;
  color: inherit;
  text-decoration: none;
  padding: 1em;
  width: 100%;

  transition: background-color 250ms ease;
}
.list a:hover {
  background-color: rgba(
    var(--primary-r1),
    var(--primary-r2),
    var(--primary-r3),
    0.1
  );
}

.active {
  background-color: rgba(
    var(--primary-r1),
    var(--primary-r2),
    var(--primary-r3),
    0.1
  );
  color: var(--primary-color);
}

.active .buldge {
  display: inline;
}

.active a:hover ~ .buldge::before {
  transform: translateX(40%);
}

.buldge {
  display: none;
}

.buldge::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2em;
  top: 0;
  right: 0;
  background-color: rgba(
    var(--primary-r1),
    var(--primary-r2),
    var(--primary-r3),
    0.8
  );

  transform: translateX(70%);
  border-radius: 15px;
  transition: transform 250ms ease;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 2em 0;
}

.logo {
  min-height: 100px;
  height: 10vh;
  max-height: 250px;
}

.title {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 700;
}

.btn {
  background: transparent;
  border: 1px solid var(--primary-red);
  color: var(--primary-red);
  font-weight: 700;

  font-size: 1em;
  padding: 1em;
  margin-top: auto;
  margin-bottom: 1em;

  cursor: pointer;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);

  transition: transform 150ms ease, box-shadow 300ms ease,
    background-color 250ms ease;
}
.btn:hover {
  transform: translateY(-10%);
  box-shadow: 2px 4px 12px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.backdrop {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .outer_container {
    position: absolute;
  }
  .backdrop {
    display: block;
  }
  .container {
    padding-bottom: 1em;
  }
}

@media (max-height: 600px) {
  .logo_container {
    margin-top: calc(605px - 100vh);
  }
}
